/*!
 * Quara Theme by OllieJW (https://olliejw.me)
 * License - https://olliejw.me/tos
 */

:root {
  --dark-color: #333333; /* Dark gray for dark sections */
  --dark-text-color: #FFFFFF; /* White text for dark sections */
  
  --light-color: #F0F0F0; /* Light gray for light sections */
  --light-text-color: #333333; /* Dark gray text for light sections */
  
  --button-color: #FFA500; /* Orange for buttons */
  --button-text-color: #FFFFFF; /* White text for buttons */
  --button-hover-color: #FFCC00; /* Yellow for button hover */
  --button-hover-text-color: #333333; /* Dark text for button hover */
  
  --info-color: #FFD700; /* Yellow for important text */
  
  --pinned-message-color: #444444; /* Dark gray for pinned message */
  --pinned-message-text-color: #FFFFFF; /* White text for pinned message */
  --pinned-button-color: #FFA500; /* Orange for pinned button */
  --pinned-button-text-color: #FFFFFF; /* White text for pinned button */
  --pinned-button-hover-color: #FFCC00; /* Yellow for pinned button hover */
  --pinned-button-hover-text-color: #333333; /* Dark text for pinned button hover */
}
